:root {
    --primary-brand-color: #4E75FF;
    --pressed-state-color: #6C8CFF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-color: white;
    --lightgray: #F6F6FE;
    --gray: #808080;

}

.gallery {
    width: 1440px;
    margin: auto;
    margin-bottom: 24px;
    padding: 24px 156px;
    background-color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: calc((100% - 1080px) / 2);
    row-gap: 24px;
}

.gallery-item {
    width: 360px;
    height: 200px;
}

.gallery-image {
    width: 100%;
    height: 100%;
}