:root {
    --primary-brand-color: #4E75FF;
    --pressed-state-color: #6C8CFF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-color: white;
    --lightgray: #F6F6FE;
    --gray: #808080;

}

#name-input {
    padding: 8px 24px;
    width: 360px;
    margin-bottom: 16px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--dark-color);
}

#name-output {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}